<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="top-customers" ng-controller="TopCustomerController">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title config-title></title>
        <script type="text/javascript" src="./config.js"></script>
        <script type="text/javascript" src="/services/js/platform-core/services/loader.js?id=view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/platform-core/services/loader.js?id=view-css" />
        <script type="text/javascript" src="/webjars/chart.js/dist/chart.umd.js"></script>
        <script type="text/javascript" src="./controller.js"></script>
        <style>
            body {
                background: var(--sapTile_Background);
            }

            .widget-content {
                font-size: 1.5rem;
                word-wrap: break-word;
                text-overflow: ellipsis;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
            }

        </style>
    </head>

    <body class="bk-vbox">
        <div class="bk-border--bottom fd-padding bk-pointer" ng-click="openPerspective()">
            <h5 bk-title wrap="true" header-size="5" aria-label="widget title">Top Customers</h5>
        </div>
        <bk-scrollbar style="flex:1">
            <table bk-table display-mode="compact" outer-borders="none">
                <thead bk-table-header sticky="true">
                    <tr bk-table-row>
                        <th bk-table-header-cell interactive="false">Customer</th>
                        <th bk-table-header-cell hoverable="true">Orders</th>
                        <th bk-table-header-cell hoverable="true">Revenue</th>
                    </tr>
                </thead>
                <tbody bk-table-body>
                    <tr bk-table-row ng-if="displayedProducts.length === 0">
                        <td bk-table-cell no-data="true">No data</td>
                    </tr>
                    <tr bk-table-row hoverable="false" ng-repeat="customer in TopCustomers">
                        <td bk-table-cell>{{customer.Name}}</td>
                        <td bk-table-cell>{{customer.Orders}}</td>
                        <td bk-table-cell>{{customer.Revenue}}</td>
                    </tr>
                </tbody>
            </table>
        </bk-scrollbar>
        <theme></theme>
    </body>

</html>
