<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="top-customers-widget" ng-controller="TopCustomerController">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title config-title></title>
        <script type="text/javascript" src="./config.js"></script>
        <script type="text/javascript" src="/services/js/platform-core/services/loader.js?id=view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/platform-core/services/loader.js?id=view-css" />
        <script type="text/javascript" src="/webjars/chart.js/dist/chart.umd.js"></script>
        <script type="text/javascript" src="./controller.js"></script>
        <style>
            body {
                background: var(--sapTile_Background);
            }

            .widget-content {
                font-size: 1.5rem;
                word-wrap: break-word;
                text-overflow: ellipsis;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
            }

        </style>
    </head>

    <body class="bk-vbox bk-pointer bk-padding bk-box--space-between" ng-click="openPerspective()">
        <!-- <fd-card card-type="table">
            <fd-card-header ng-click="openPerspective('sales-orders')">
                <fd-card-title>Top Customers</fd-card-title>
            </fd-card-header>
            <fd-card-content>
                <table class="fd-table fd-table--no-horizontal-borders fd-table--no-vertical-borders">
                    <thead class="fd-table__header">
                        <tr class="fd-table__row">
                            <th class="fd-table__cell" scope="col">Customer</th>
                            <th class="fd-table__cell" scope="col">Orders</th>
                            <th class="fd-table__cell" scope="col" style="text-align:right">Revenue
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fd-table__body" id="top_customers">
                        <tr ng-repeat="next in topCustomers">
                            <td class="fd-table__cell"><a class="fd-link"><span class="fd-link__content">{{next.Name}}</span></a>
                            </td>
                            <td class="fd-table__cell">{{next.Orders}}</td>
                            <td class="fd-table__cell" style="text-align:right">
                                {{next.Revenue}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fd-card-content>
        </fd-card> -->
        <bk-card>
            <bk-card-header ng-click="openPerspective('sales-orders')">
                <bk-card-title>Top Customers</bk-card-title>
            </bk-card-header>
            <bk-card-content>
                <table bk-table class="fd-table fd-table--no-horizontal-borders fd-table--no-vertical-borders">
                    <thead>
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">Orders</th>
                            <th scope="col" style="text-align:right">Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="next in TopCustomers">
                            <td>
                                <a bk-link>
                                    <span bk-link-content>{{next.Name}}</span>
                                </a>
                            </td>
                            <td>{{next.Orders}}</td>
                            <td style="text-align:right">{{next.Revenue}}</td>
                        </tr>
                    </tbody>
                </table>
            </bk-card-content>
        </bk-card>
        <theme></theme>
    </body>

</html>
